<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400;
      }
    </style>
  </head>

  <body>
    <h1>URL Shortner</h1>
    <% if (locals.id) { %>
    <p>URL generated: http://localhost:8001/url/<%= id %></p>
    <% } %>
    <div>
      <form method="post" action="/url">
        <label>Enter your original url</label>
        <input type="text" name="url" placeholder="https://example.com" />
        <button type="submit">generate</button>
      </form>
    </div>

    <div>
      <% if (locals.urls) { %>
      <table>
        <thead>
          <th>S. No</th>
          <th>ShortID</th>
          <th>Redirect</th>
          <th>Click</th>
        </thead>
        <tbody>
          <% urls.forEach((url, index)=> { %>
          <tr>
            <td><%= index %></td>
            <td><%= url.shortId %></td>
            <td><%= url.redirectURL %></td>
            <td><%= url.visitHistory.length %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } %>
    </div>
  </body>
</html>
